
*{
margin:0px;
padding:0px;

}


.card{


    display:flex;

    
    justify-content:center;
    align-items:center;
align-content:space-around;


    flex-flow:column wrap;

    background-color:white;

 
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.061);

min-width:21rem;
min-height:21rem;


max-width:22rem;
max-height:22rem;

margin:60px;



user-select:none;

}

.card:hover{

transform: scale(1.05);
transition-duration: 0.3s;


}

img{

    width:15rem;

}

h3{
    margin-left:6px;
}

h5{

    color:rgba(0, 0, 0, 0.333);

}

h4{

color:rgb(228,35,39);

}